body
{
    counter-reset: Laskuri; /* Asetetaan laskuri nollaan */
}

table
{
    border-collapse: separate;
}

tr td:first-child:before
{
  counter-increment: Laskuri; /* Kasvatetaan laskuria */
  content: "#" counter(Laskuri); /* Tulostetaan numero */
}